body {
	display: flex;
	flex-direction: column;
      background: #f9fafb;
    font-family: Arial, sans-serif;
    color: #222
}

header ul li a {
    color: rgba(83, 41, 47, 0.918);
    text-decoration: none;
    font-weight: bold;
}

header ul li a:hover {
    text-decoration: underline;
}

.logo {
    color: #fbbf24; /* gold logo color */
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
}

article {
	flex: 2;
	overflow-y: auto;
     padding: 20px;
    background: white;
    border-right: 1px solid #ddd;
}

/* Table styling inside article */
article table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

article th, 
article td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

article th {
    background: #1e293b;
    color: white;
    font-weight: bold;
}

article tr:nth-child(even) {
    background: #f3f4f6;
}

article tr:hover {
    background: #e2e8f0;
}


aside {
	flex: 1;
	overflow-y: auto;
}

footer {
    text-align: center;
    padding: 15px;
    background: #1e293b;
    color: white;
}